services:
  bazario-identity-webapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5001
      - ASPNETCORE_HTTPS_PORTS=5002
      - ASPNETCORE_Kestrel__Certificates__Default__Password=p@ssw0rd!
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx

      - OwnerSettings__Username=${OWNER_USERNAME}
      - OwnerSettings__Email=${OWNER_EMAIL}
      - OwnerSettings__Password=${OWNER_PASSWORD}
      - DbSettings__ConnectionString=${IDENTITY_DB_CONNECTION_STRING}
      - JwtSettings__Issuer=${JWT_ISSUER}
      - JwtSettings__Audience=${JWT_AUDIENCE}
      - JwtSettings__SecretKey=${JWT_SECRET_KEY}
      - JwtSettings__ExpirationTimeInMinutes=${JWT_EXPIRATION_TIME_IN_MINUTES}
      - JwtSettings__SecurityAlgorithm=${JWT_SECURITY_ALGORITHM}
      - MessageBrokerSettings__Host=${RABBITMQ_HOST}
      - MessageBrokerSettings__User=${RABBITMQ_USER}
      - MessageBrokerSettings__Password=${RABBITMQ_PASSWORD}
      - MessageBrokerSettings__EnableRetryPolicy=${RABBITMQ_ENABLE_RETRY_POLICY}
      - MessageBrokerSettings__RetryCount=${RABBITMQ_RETRY_COUNT}
      - MessageBrokerSettings__RetryIntervalMilliseconds=${RABBITMQ_RETRY_INTERVAL_MILLISECONDS}
    build:
      args:
        BUILD_CONFIGURATION: ${DOTNET_BUILD_CONFIGURATION}
    volumes:
      - ../Bazario.Identity/src/https:/https:ro
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  bazario-users-webapi:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=5003
      - ASPNETCORE_HTTPS_PORTS=5004
      - ASPNETCORE_Kestrel__Certificates__Default__Password=p@ssw0rd!
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx

      - DbSettings__ConnectionString=${USERS_DB_CONNECTION_STRING}
      - MessageBrokerSettings__Host=${RABBITMQ_HOST}
      - MessageBrokerSettings__User=${RABBITMQ_USER}
      - MessageBrokerSettings__Password=${RABBITMQ_PASSWORD}
      - MessageBrokerSettings__EnableRetryPolicy=${RABBITMQ_ENABLE_RETRY_POLICY}
      - MessageBrokerSettings__RetryCount=${RABBITMQ_RETRY_COUNT}
      - MessageBrokerSettings__RetryIntervalMilliseconds=${RABBITMQ_RETRY_INTERVAL_MILLISECONDS}
    build:
      args:
        BUILD_CONFIGURATION: ${DOTNET_BUILD_CONFIGURATION}
    volumes:
      - ../Bazario.Users/src/https:/https:ro
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
